.calc-display {
  width: 448px;
  height: 125px;
  background-color: #111;
  color: white;
  border: 2px darkgray solid;
  border-bottom: 0px;
  font-size: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calc-display p {
  padding-right: 13px;
  padding-top: 13px;
}